body {
    font-family: arial, sans-serif;
    margin: 0;
    background-color: #c2f4ff;
    color: #001755;
}
header {
background-color: #101066;
padding: 15px;
text-align: center;
}
header h1 {
    color: #fff;
}
header {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background-color: #071449;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.nav a:hover {
  color: #f0a500;
}
nav a {
  color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}
nav a:hover {
    text-decoration: underline;
        background-color: #1e3a8a;
    transform: translateY(-2px);
}
.nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
}

.container {
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}
h2 {
    color: #0a1f44;
    text-align: center;
}

.card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card {
    background:  white;
    padding: 20px;
    border-radius: 8px;
    min-width: 250px;
footer {
    background-color: #0a1f44;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
.price-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: white;
}

.price-table th,
.price-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.price-table th {
    background-color: #0a1f44;
    color: white;
}

.price-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.price-table tr:hover {
    background-color: #e6f0ff;
}
.reviews {
  background-color: #f4f4f4;
  padding: 40px 20px;
  text-align: center;
}

.reviews h2 {
  margin-bottom: 30px;
}

.review-box {
  background-color: navy;
  color: white;
  padding: 20px;
  margin: 15px auto;
  max-width: 500px;
  border-radius: 8px;
}

.review-box span {
  display: block;
  margin-top: 10px;
  font-style: italic;
}

.team {
  display: flex;              
  justify-content: center; 
  gap: 20px;                  
  padding: 30px 10px;
  flex-wrap: wrap;            
  background-color: #f0f4f8;  
}

.team-member {
  background-color: navy;      
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;                
  text-align: center;           
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}
.cyber-img {
  max-width: 100%;    
  height: auto;    
}
ol, ul {
  width: fit-content;
  margin: 0 auto;
}





